* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
}
body{
  overflow-x: hidden;
}
nav {
  width: 100%;
  padding: 15px;
  background-color: white;
  z-index: 5;
  position: fixed;
  text-transform: uppercase;
}
.mb {
  display: none;
  position: sticky;
  top: 0;
  z-index: 12;
  text-transform: uppercase;
}
.mb-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  background-color: white;
  gap: 30px;
  padding: 7px;
}
.mb-logo {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.mb-logo img {
  height: 40px;
}
.mb-logo a {
  text-decoration: none;
  display: flex;
}

.login2 {
  border: 1px solid black;
  padding: 7px;
  color: rgb(208, 176, 13);
  border-radius: 5px;
}

.login2:hover {
  background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  color: black;
}
.menu-list li a {
  text-decoration: none;
  color: black;
}
.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  background-color: white;
}
.menu-btn {
  position: relative;
  background-color: white;
}
.main-menu {
  width: 100%;

  display: flex;
  gap: 20px;
  /* background-color: antiquewhite; */
  align-items: center;
  gap: 15px;
  justify-content: space-evenly;
}

.main-menu img {
  width: 100%;
  height: 50px;
}
.menu-child {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}
.menu-list2 {
  width: 75%;
  /* background-color: aqua; */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.menu-list2 li {
  list-style: none;
}
.menu-list2 a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.menu-list2 a:hover {
  color: rgb(208, 176, 13);
}
.main-menu a {
  text-decoration: none;
  /* color: black; */
  font-weight: 600;
}
.dn {
  border: 1px solid #403d3d;
  padding: 7px;
  color: c;
  border-radius: 5px;
}
.login {
  border: 1px solid black;
  padding: 7px;
  color: rgb(208, 176, 13);
  border-radius: 5px;
}

.login:hover {
  background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  color: black;
}
swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero {
    width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
  height: 100vh;
  background-color: #dfe4dc;
  margin-top: 80px;
}

.hero-content {
  max-width: 40%;
}

.subtitle {
  font-size: 16px;
  color: rgb(208, 176, 13);
  margin-bottom: 10px;
}

.h1 {
  font-size: 60px;
  line-height: 1.1;
  font-weight: 700;
  color: #222;
  margin-bottom: 30px;
}

.btn {
  background: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  transition: 0.3s;
  color: black;
  text-decoration: none;
}

.btn:hover {
  background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  color: black;
}

.dots {
  margin-top: 40px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbb;
  margin-right: 8px;
}

.dot.active {
  background: #333;
}

.hero-image {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.hero-image img {
  width: 100%;
  /* max-width: 450px; */
  border-radius: 10px;
  height: 100%;
}

.trend-text {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  font-size: 120px;
  color: #d19b28;
  opacity: 0.3;
  letter-spacing: 5px;
  user-select: none;
}
.slider {
  overflow: hidden;
  position: relative;
  width: 100%;
  /* background: #fff; */
  box-shadow: 0 0 5px 5px ghostwhite;
  margin-top: 50px;
}

.slide-track {
  display: flex;
  width: calc(250px * 10);
  animation: scroll 40s linear infinite;
}

.slide {
  width: 250px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.slide h3 {
  font-weight: bold;
  font-size: 18px;
  font-family: Roboto Slab;
}
.slide p {
  font-family: Roboto Slab;
}

.blue {
  color: gray;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.categories {
  text-align: center;
  padding: 50px 20px;
  margin-top: 50px;
}

.categories h2 {
  line-height: 40px;
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 40px;
  background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  padding: 10px;
}


.category-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.category-box {
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.category-box img {
  width: 280px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.category-box h3 {
  margin-top: 10px;
  font-size: 1.1em;
  font-weight: 600;
  border-bottom: 2px solid #000;
  display: inline-block;
  padding-bottom: 3px;
}

.category-box:hover img {
  transform: scale(1.05);
}

.category-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}


.best-selling {
  padding: 60px 40px;
  text-align: center;
}

.best-selling h2 {
  font-size: 2.3em;
  font-weight: 600;
  margin-bottom: 40px;
  background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  padding: 10px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 30px;
  justify-items: center;
}

.product-card {
  background: #fafafa;
  border-radius: 15px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  padding: 15px;
  transition: all 0.3s ease;
  max-width: 350px;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
}

.image-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.image-container img {
  height:250px;
  width: 100%;
  border-radius: 10px;
  transition: opacity 0.4s ease;
}
.product-card h3{
  color: rgb(161, 159, 9);
}

.image-container .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.image-container:hover .hover-img {
  opacity: 1;
}

.image-container:hover .main-img {
  opacity: 0;
}


.icons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.image-container:hover .icons {
  opacity: 1;
}

.icon-btn {
  background: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s;
  text-decoration: none;
}

.icon-btn:hover {
  background: #000;
  color: #fff;
}

.product-card h3 {
  font-size: 1em;
  margin-top: 15px;
}

.price {
 background: linear-gradient(to right, rgb(217, 193, 75), rgb(174, 145, 30));
  background-clip: text;
  color: transparent; 
  font-weight: 600;
  margin: 5px 0;
}


.sizess {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.sizess a {
  color: bisque;
  background: #000000;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-decoration: none;
}

.sizess a:hover {
  background: #0055cc;
  color: #fff;
}
.cart{
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: black;
  color: bisque;
  text-decoration: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
.cart:hover{
  background-color: bisque;
  color: black;
}


.container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 160px;
  padding: 3rem;
  flex-wrap: wrap;
}

.left-section {
  background-color: rgb(224,222,218);
  position: relative;
  flex: 1;
  min-width: 300px;
  height: 700px;
}

.image-box {
  position: relative;
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  border-radius: 8px;
  transition: 0.4s ease;
  height: 550px;
  object-fit: contain;
}

/* .image-box:hover img {
  filter: brightness(0.8);
} */

.overlay-buttons {
  position: absolute;
  top: 85px;
  right: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  opacity: 0;
  transition: 0.3s ease;
}

/* .image-box:hover .overlay-buttons {
  opacity: 1;
}
   */
.overlay-buttons button {
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

.title {
  font-size: 5rem;
  color: goldenrod;
  font-weight: 600;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.vertical-text {
  position: absolute;
  right: 85px;
  top: 35%;
  transform: rotate(-90deg) translateY(-50%);
  transform-origin: right top;
  font-size: 50px;
  color: #333;
  font-weight: 400;
}

.right-section {
  /* flex: 1; */
  min-width: 280px;
  display: flex;
  justify-content: center;
}

.product-card {
  text-align: center;
  background: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.product-card:hover {
  transform: translateY(-5px);
}

.img-wrapper {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 0 auto;
}

.product-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: opacity 0.4s ease;
}

.product-img.hover {
  opacity: 0;
}

.img-wrapper:hover .product-img.hover {
  opacity: 1;
}

.new-item {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  border-radius: 50px;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.product-name {
  font-size: 1.3rem;
  margin-top: 1.2rem;
    color: rgb(161, 159, 9);

}

.price {
  margin-top: 0.5rem;
}

.new-price {
  font-weight: 600;
 background: linear-gradient(to right, rgb(217, 193, 73), rgb(155, 155, 28));
  background-clip: text;
  color: transparent; 
}

.old-price {
  text-decoration: line-through;
  margin-left: 10px;
  color: #777;
}

.sizes {
  margin-top: 1rem;
  margin-bottom: 10px;
}

.sizes a{
  border: 1px solid black;
  background: black;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s ease;
  color: bisque;
  text-decoration: none;
}

.sizes a:hover {
    background: #0055cc;
  color: #fff;
}


.blog-section {
  padding: 3rem 6%;
  text-align: center;
  margin-top: 50px;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
    background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  background-clip: text;
  color: transparent;
  padding: 10px;
  text-transform: uppercase;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.blog-card {
  width: 320px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.blog-card:hover {
  transform: translateY(-6px);
}

.blog-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-bottom: 1px solid #eee;
}

.blog-info {
  padding: 1rem;
  text-align: left;
}

.blog-info .date {
  font-size: 0.9rem;
  color: #c7c8b5;
  margin-bottom: 0.5rem;
}

.blog-info .date i {
  margin-right: 5px;
}

.blog-title {
  font-size: 1rem;
  color: #111;
  line-height: 1.5;
  margin-bottom: 0.8rem;
}

.read-more {
  font-size: 0.9rem;
  color: rgb(161, 159, 9);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.read-more:hover {
  color: rgb(217, 193, 75);
}

/* FEATURES */
.features {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  text-align: center;
}

.feature-item {
  flex: 1 1 200px;
  min-width: 200px;
  max-width: 250px;
}

.feature-item i {
  font-size: 2rem;
  color: #111;
  margin-bottom: 10px;
}

.feature-item h4 {
  font-size: 1.1rem;
  font-weight: 600;
   background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  background-clip: text;
  color: transparent;
}

.feature-item p {
  font-size: 0.9rem;
  color: #555;
}

.footer {
  background: #f1f1f1;
  padding: 3rem 6% 1rem;
  margin-top: 50px;
  
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("https://img.freepik.com/premium-photo/abstract-rainbow-colorful-bright-feather-closeup-up-macro-view-background-plumage-texture-with-dew-drops_753134-644.jpg");
  background-size: cover;
  background-position: center;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}


.footer-section {
  flex: 1;
  min-width: 230px;
  
}

.footer-section h3 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1rem;
  background: linear-gradient(to right, rgb(207, 179, 39), rgb(229, 198, 46));
  background-clip: text;
  color: transparent;
}

.footer-section p {
  font-size: 0.9rem;
color: rgb(204, 188, 188);
  line-height: 1.6;
  font-weight: 500;
}

.social-icons {
  margin: 1rem 0;
}

.social-icons a {
  color: rgb(219, 173, 87);
  font-size: 1rem;
  margin-right: 10px;
  text-decoration: none;
  transition: 0.3s ease;
}

.social-icons a:hover {
  color: #007bff;
}

.safe-checkout {
  font-weight: 500;
  margin-top: 1rem;
}

.payment-icons img {
  height: 22px;
  margin-right: 8px;
  vertical-align: middle;
  background: #fff;
  border-radius: 5px;
  padding: 2px 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  text-decoration: none;
  color: rgb(201, 194, 194);
  font-size: 0.9rem;
  transition: color 0.3s ease;
  font-weight: 500;
}

.footer-section ul li a:hover {
  color: bisque;
}
.office-worldwide .map-container {
  width: 100%;
  height: auto;


}
.office-worldwide{
  text-align: center;
    margin-top: 10px;
}
.office-worldwide .map-container img {
  width: 100%;
  height: auto;
  display: block;
}
.footer-title{
   background: linear-gradient(to right, rgb(164, 143, 36), rgb(252, 218, 47));
  background-clip: text;
  color: transparent;
}
.map1{
  border-radius: 10px;
  filter: brightness(80%);
}
/* NEWSLETTER */
.newsletter form {
  margin-top: 1rem;
}

.newsletter input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.newsletter a {
  width: 100%;
  background: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
  text-decoration: none;
}

.newsletter a:hover {
  background: #2563eb;
}
.btn {
  width: 100%;
  text-decoration: none;
  padding: 8px 35px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  /* text-align: center; */
  display: flex;
  align-items: center;
  flex-direction: column;
  background: blue;
  color: #fff;
}

.btn:hover {
  background: white;
   color: blue;
  border: 1px solid blue;
}

/* BOTTOM COPYRIGHT */
.footer-bottom {
  border-top: 1px solid #ddd;
  text-align: center;
  margin-top: 2rem;
  padding-top: 1rem;
}

.footer-bottom p {
  font-size: 0.9rem;
  color: #b9b3b3;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}







/* RESPONSIVE */
@media (max-width: 768px) {
  .blog-container {
    flex-direction: column;
    align-items: center;
  }

  .features {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  nav {
    display: none;
  }
  .mb {
    display: block;
  }
  .menu-list {
    left: -21px;
    padding: 10px;
  }
  .cards {
    flex-direction: column;
  }
  .header {
    flex-direction: column;
    gap: 15px;
  }
  .cause-container {
    flex-direction: column;
  }
  .cause-card {
    width: 100%;
    overflow: hidden;
  }
  .about-container {
    flex-direction: column;
  }
  .intro {
    width: 95%;
  }
  .office-worldwide .map-container {
    width: 75%;
  }
  .vertical-text
  {
    display: none;
}
@media (max-width: 1130px) {
  .menu-list2 {
    gap: 40px;
  }
}
@media (max-width: 1000px) {
  .menu-list2 {
    gap: 10px;
    width: 60%;
  }
}
@media (max-width: 1000px) {
  .mb-main {
    gap: 2px;
  }
}

@media (max-width: 450px) {
  .mb-logo img {
    height: 30px;
  }
   .mb-logo a{
          align-items: center;
    font-size: 12px;
  }
  .mb-logo{
    gap: 30px;
  }
}
@media (max-width: 320px) {
  .container{
    padding: 1rem;
  }
  .blog-section{
    padding: 0px;
  }
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;         
    padding: 30px 20px;
    height: auto;
    margin-top: 60px;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
    order: 2;                      
    margin-top: 20px;
  }

  .hero-image {
    width: 100%;
    height: auto;
    order: 1;
  }

  .hero-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .subtitle {
    font-size: 14px;
  }

  .h1 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 20px;
  }

  .btn {
    font-size: 14px;
    padding: 10px 20px;
  }

  .trend-text {
    display: none; 
  }

  swiper-slide {
    background: #dfe4dc; 
  }
  .feature-item{
    flex: 1 1 125px;
  }
}}
@media (max-width: 600px){
  .image-box img{
    height: 300px;
  }
  .left-section{
    height: 300px;
    margin-left: 15px;
  }
  .container{
    gap: 50px;
    padding: 20px;
    margin: auto;
  }
  .right-section{
    margin-left: 25px;
  }
}