* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  line-height: 27px;
}
body{
  overflow-x: hidden;
}
nav {
  width: 100%;
  padding: 15px;
  background-color: white;
  z-index: 5;
  position: fixed;
  text-transform: uppercase;
}
.mb {
  display: none;
  position: sticky;
  top: 0;
  z-index: 12;
  text-transform: uppercase;
}
.mb-main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  background-color: white;
  gap: 30px;
  padding: 7px;
}
.mb-logo {
  display: flex;
  justify-content: space-around;
  gap: 5px;
}
.mb-logo img {
  height: 40px;
}
.mb-logo a {
  text-decoration: none;
  display: flex;
}

.login2 {
  border: 1px solid black;
  padding: 7px;
  color: rgb(208, 176, 13);
  border-radius: 5px;
}

.login2:hover {
  background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  color: black;
}
.menu-list li a {
  text-decoration: none;
  color: black;
}
.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  background-color: white;
}
.menu-btn {
  position: relative;
  background-color: white;
}
.main-menu {
  width: 100%;

  display: flex;
  gap: 20px;
  /* background-color: antiquewhite; */
  align-items: center;
  gap: 15px;
  justify-content: space-evenly;
}

.main-menu img {
  width: 100%;
  height: 50px;
}
.menu-child {
  width: 100%;
  display: flex;
  gap: 15px;
  justify-content: space-evenly;
}
.menu-list2 {
  width: 75%;
  /* background-color: aqua; */
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
}
.menu-list2 li {
  list-style: none;
}
.menu-list2 a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 14px;
}
.menu-list2 a:hover {
  color: rgb(208, 176, 13);
}
.main-menu a {
  text-decoration: none;
  /* color: black; */
  font-weight: 600;
}
.dn {
  border: 1px solid #403d3d;
  padding: 7px;
  color: c;
  border-radius: 5px;
}
.login {
  border: 1px solid black;
  padding: 7px;
  color: rgb(208, 176, 13);
  border-radius: 5px;
}

.login:hover {
  background: linear-gradient(to right, rgb(227, 195, 33), rgb(119, 100, 7));
  color: black;
}
.top-about {
  width: 100%;
  position: relative;
  padding-top: 80px;
}

.top-img {
  width: 100%;
  height: 500px;
  color: white;
  filter: brightness(50%);
  /* object-fit: contain; */
}
.overlay h1 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Roboto Slab;
  color: white;
}
.overlay .breadcrumb {
  font-size: 16px;
  opacity: 0.9;
  font-family: Roboto Slab;

  color: white;
}

.breadcrumb span {
  font-family: Roboto Slab;
  font-size: 20px;
}
.overlay .breadcrumb .home-icon {
  margin-right: 5px;
}
.overlay {
  position: absolute;
  top: 50%;
  left: 15%;
}